.h-mob{display: none;}

@media (max-width: 991px) {
        /*=====ALL=====*/
    * {
        font-size: 20px;
    }
    .h-sol-img, .h-sup-img {
        width: 100px;
        height: 100px;
        padding: 40px !important;
        padding: 40px !important;
    }
    .h-capital-text {
        font-size: 30px;
    }
    .h-web{
        display: none !important;
    }
    .h-mob{
        display: block !important;
    }
    *{max-height:999999px;}
        /*=====Logo And Hamb=====*/
    .h-languages-mob{
        width: 70px;
        height: 40px;
        position: relative;
        margin-left: 5%;
        float: left;
    }
    .h-logo {
        height: 40px;
    }
    .h-sublogo {
        height: 8.5px;
    }
    .h-hamb-button {
        height: 35px;
        margin-top: 2.5px;
    }
    .h-hamb {
        width: 100%;
        left: 0px;
        margin-left: 0px;
    }
    .h-hamb-menu{
        height: 40px;
    }
    .h-hamb-products {
        padding: 10px;
        margin: 10px 10px 10px 10px;
    }
    .h-hamb-title {

    }
        /*=====Banner======*/
    .h-banner{
        height: 230px;
    }
        /*=====Solutions=====*/
    .h-sol-in {
        float: none;
        width: 100%;
        margin-bottom: 40px;
    }
    .h-sol-in .button {
        width: auto;
        padding: 20px;
    }
        /*=====Home Gallery and Descriptions=====*/
    [class|=h-ind]{
        width: 100%;
        float: none;
    }
    [class|=h-ind-txt]{
        width: 90%;
        padding: 5%;
    }
        /*======Packages=====*/
    .h-pack-block{
        float: none;
        margin: 25px 0px;
        width: auto;
    }
        /*======Testimonial and Brands======*/
    .h-testimonial-block, .h-brands-block{
        width: 100%;
        float: none;
    }
        /*=====Support====*/
    .h-sup-in{
        float: none;
        margin-left: 0px;
        width: auto;
        overflow: auto;
    }
    .h-sup-img{
        float: none;
    }
    .h-sup-txt{
        text-align: center;
        float: none;
        margin-left: 0px;
        width: auto;
    }
        /*=====Contact====*/
    .h-cont{
        width: 90%;
        padding: 5%;
        float: none;
    }
    .h-cont-img{
        float: none;
    }
        /*=====About Us=====*/
    .h-about-1, .h-about-2{
        float: none;
        width: 100%;
        padding: 0%;
    }
        /*=====Products=====*/
    .
    .h-prod {
        padding: 15px 0px;
    }
    .h-prod-in-1, .h-prod-in-2, .h-prod-in-3{
        width: 98%;
        float: none;
        height: auto;
        text-align: center;
        padding-bottom: 30px;
    }
    .h-prod-in-3 .h-button{
        margin: 5px;
    }
    .h-product-bg{
        height: 180px;
        padding: 5px;
    }
    .h-product-bg img{
        height: 100%;
        width: auto;
        margin: auto;
    }
    .h-prod-img-sm{
        /*width: 15%;*/
        /*margin: 1.5%;*/
    }
    .swp-prod-btn-nxt, .swp-prod-btn-prev{
        transform: scale(0.35);
        margin: -4.5%;
    }
        /*=====Solution=====*/
    [class|= h-solut-in] {
        float: none;
    }
    .h-solut-in-1{
        width:98%;
    }
    .h-solut-in-2 {
        width: auto;
    }
    .h-solut-in-3{
        width: 96%;
    }
        /*=====Video Banner=====*/
    .h-banner{
        background-image: url(img/background_home.jpg);
    }
    .video-banner{
        height: 45vh;
    }
    .video-foreground{
        display: none;
    }
    .video-background{
        background: none;
    }
    .h-mra {
        padding: 30px 0px 30px 0px;
    }
    .h-hamb .h-navs {
        font-size: 25px;
        text-transform: uppercase;
    }
    .h-navs {
        height: 30px;
        border-bottom: 1px solid #3e93cc;
        padding: 20px 0px 15px 10px;
    }
    .h-navs-in {
        max-height: 325px;
    }
    .swiper-pagination-current, .swiper-pagination-total {
        font-size: 30px;
        font-weight:600;
        color: #3e93cc;
    }
    .h-sol-in i, .h-sup-in i {
        font-size: 80px;
    }


}

@media(max-width: 1025px){
    /*=====Video Banner=====*/
    .h-banner{
        background-image: url(img/background_home.jpg);
    }
    .video-banner{
        height: 60vw;
    }
    .video-background{
        background: none;
    }
    .video-foreground{
        display: none;
    }

}
