* {
    margin: 0px;
    padding: 0px;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 16px;
}

header {
    width: 100%;
    height: max-content;
}
.container {
    background: #ffffff;
}
footer {
    text-align: center;
}

.h-speed {
    transition: all 0.7s;
}

.h-ofc {
    background-color: #3e93cc;
}

.h-ofc-t {
    color: #3e93cc;
}

input, button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    outline: none;
}

textarea:focus, input:focus, button:focus {
    outline: none;
}

input::placeholder {
    color: #3e93cc;
}

input:-ms-input-placeholder {
    color: #3e93cc;
}

input::-ms-input-placeholder {
    color: #3e93cc;
}

.block-padding {
    padding-top: 30px;
    padding-bottom: 30px;
}
.block-margin{
    margin-top: 30px;
    margin-bottom: 30px;
}
.h-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.h-capital-text {
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.h-text-L {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 30px;
}
}

.h-none {
    display: none;
}

.h-ovrflw-wpg {
    overflow: -webkit-paged-y;
}

.h-title {
    margin: auto;
    width: max-content;
    text-transform: uppercase;
    font-weight: 600;
    color: #3e93cc;
    padding-bottom: 30px;
}

.h-pointer {
    cursor: pointer;
}

.h-white {
    background-color: #ffffff;
}

.h-white-t {
    color: #ffffff;
}

.h-opacity {
    opacity: 0;
}

.h-rotate-45 {
    transform: rotate(45deg);
}

.h-rotate-90 {
    transform: rotate(90deg);
}

.h-rotate-o90 {
    transform: rotate(-90deg);
}

.h-row {
    max-width: 1200px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.h-padding {
    padding-top: 15px;
    padding-bottom: 15px;
}

.h-grayscale {
    -webkit-filter: brightness(250%);
    filter: brightness(1000%);
}

.h-vrtmd {
    text-align: center;
    display: table-cell;
    vertical-align: middle
}

.h-button {
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
}
.h-button-pr {
    margin-bottom: 30px;
}
a {
    color: #3e93cc;
    text-decoration: underline;
}

a:hover {
    color: #c8c8c8;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.h-mra {
    margin: auto;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

/*=====SWIPER=====*/
.swiper-container {
    width: 100%;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px !important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/*==========HEADER BEGIN==========*/

/*=====LOGO=====*/
.h-logo {
    width: auto;
    height: 60px;
    transition: all 0s;
}

.h-sublogo {
    height: 13px;
    width: auto;
}

/*=====Hamburger=====*/
.h-hamb-menu {
    height: 60px; /*same with logo*/
    width: max-content;
    float: right;

}

.h-hamb-menu .h-pointer {
    line-height: 60px; /*same with height*/
}

.h-hamb-text {
    float: left;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    font-size: 35px;
    margin-right: 10px;
}

.h-hamb-button { /* summary need to be = logo */
    height: 25px;
    margin-top: 16px;
}

.h-hamb-button.close {
    z-index: 2;
    float: left;
}

.h-hamb-button.active {
    z-index: 1;
    float: right;
    margin-left: -45px;
}

.h-hamb-title {
    margin-bottom: 15px;
}

.h-hamb {
    width: 250px;
    margin-left: -106px;
    position: fixed;

}
.h-hamb a {
    text-decoration: none;
}
.h-hamb a:hover {
    text-decoration: none;
}

.h-hamb li {
    list-style-type: none;
}

.h-hamb a:first-child .h-navs {
    cursor: default;
    background-color: #d8315c;
    color: #ffffff;
}

.h-hamb .h-navs {
    background-color: #ffffff;
    color: #71afda;
    line-height: 28px;
    text-transform: uppercase;
}

.h-navs {
    height: 33px;
    padding: 10px 0px 0px 10px;
}

.h-navs img {
    float: left;
    width: 25px;
    margin-right: 5px;
}

.h-navs:hover {
    background-color: #71afda;
    color: #ffffff;
}

.h-hamb a:first-child .h-navs:hover img {
    -webkit-filter: brightness(250%);
    filter: brightness(1000%);
}

.h-navs:hover img {
    -webkit-filter: brightness(250%) drop-shadow(5px 5px 5px #222);
    filter: brightness(1000%) drop-shadow(5px 5px 5px #222);
}

.h-navs-in {
    display: none;
    max-height: 237px;
    background-color: #e0e0e0;
    overflow: auto;
}

.h-navs-in::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #e0e0e0;
}

.h-navs-in::-webkit-scrollbar {
    width: 5px;
    background-color: white;
}

.h-navs-in::-webkit-scrollbar-thumb {
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #71afda;
}

.h-plus {
    transition: transform 700ms;
    float: right;
    font-size: 30px;
    margin-right: 15px;
}

.h-hamb-products {
    padding: 5px;
    margin: 10px 10px 10px 10px;
    background-color: #ffff;
    color: #3e93cc;
}

.h-hamb-products:hover {
    background-color: #3e93cc;
    color: #ffff;
}

/*=====Navigator Contacts=====*/
.h-nav-contact {
    display: table;
    /*padding: 0px 15px;*/
    background-color: #d8315c;
    float: right;
    width: 250px
}

.h-nav-contact img {
    height: 33px;
    padding: 5px 0px 4px 20px;
}

/*=====Search=====*/
.h-search {
    float: right;
}

.h-search input {
    width: 200px;
    height: 31px !important;
    padding: 10px;
    border: none;
    margin: 6px 0px;
    border-radius: 7px;
    cursor: help;
    float: left;
}

.h-search-i {
    position: relative;
    float: right;
    width: 40px;
    margin-left: -40px;
    text-align: center;
    margin-top: 10px;
}

.h-search-i i {
    color: #3e93cc;
    font-size: 20px;
}

/*=====Languages=====*/
.h-lang {
    float: right;
}

.h-lang select {
    border: none;
    height: 30px;
    background: #d6315c;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    margin: 6.5px 15px;
}

/*=====Socials=====*/
.h-social {
    float: right;
    height: 30px;
    width: max-content;
    margin: 6.5px 15px 6.5px 0px;
}

.h-social-block {
    float: left;
    margin: 0px 3px;
}

.h-social-block div:only-child {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #ffffff;
    height: 28px;
    width: 27px;
    border-radius: 100%;
    cursor: pointer;

}

.h-social-block div:only-child:hover {
    border: 1px solid #4267b2;
    background-color: #4267b2;
}

/*=====FIXED HEADER=====*/
.h-header-sticky {
    z-index: 3;
    position: fixed;
    width: 100%;
    -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.75);
    display: none;

}

/*==========HEADER END==========*/

/*==========CONTENT BEGIN========*/
.h-banner {
    text-align: center;
    background: no-repeat center;

    height: 600px;
    width: 100%;
    background-size: 100%;
}

.h-banner-title {
    width: 100%;
}

.banner-fst-text {
    font-size: 56px;
    font-weight: 700;
}

.banner-snd-text {
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*=====SOlUTIONS=====*/
.h-sol-in .button {
    width: 80%;
}

.h-sol-in {
    float: left;
    width: 20%;
}

.h-sol-img, .h-sup-img {
    border: solid 1px #3e93cc;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    padding: 20px;
}

.h-sol-img img, .h-sup-img img {
    width: 100%;
}

.h-sol-in i, .h-sup-in i {
    color: #3e93cc;
    font-size: 60px;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.h-sol-txt {
    width: 75%;
    text-align: center;
}

/*=====GALLERY======*/
.h-ind-img-1, .h-ind-img-2 {
    height: max-content;
    width: 60%;
}

.h-ind-img-1 {
    float: right;
}

.h-ind-img-2 {
    float: left;
}

.h-ind-img-1 img, .h-ind-img-2 img {
    width: 100%;
    height: 400px;
    cursor: pointer;
    object-fit: cover;
}

.h-ind-txt-1, .h-ind-txt-2 {
    height: auto;
    width: 35%;
    float: left;
    padding: 2.5%;
}

/*=====PACKGAES=====*/
.h-packages {
    overflow: auto;
}

.h-pack-block {
    float: left;
    margin: 0px 2%;
    width: 29.333%;
}

.h-pack-block div:first-child {
    background: #d6315c;
    color: white;
    border: none;
    text-align: center;
    text-transform: uppercase;
}

.h-pack-block div {
    border: #656e74 1px solid;
    border-top: none;
    height: auto !important;
    padding: 20px !important;
}

/*=====POLYGON TEXT=====*/
.h-polyg {
    -webkit-clip-path: polygon(0 0, 100% 24%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 24%, 100% 100%, 0% 100%);
}

.h-polyg-text {
    padding-top: 80px;
    padding-bottom: 50px;
}

/*=====TESTIMONIAL AND BRANDS=====*/
.h-testimonial, .h-brands {
    overflow: auto;
}

.h-testimonial-block, .h-brands-block {
    float: left;
    width: 33.333%;
}

.h-brands-radius img {
    width: 250px;
}

.h-testimonial-radius {
    border-radius: 100%;
    height: 150px;
    width: 150px;
    background: black;
    margin: auto;
    cursor: pointer;
}

.h-testimonial-radius img {
    border-radius: 100%;
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.h-testimonial-text {
    text-align: center;
    width: 50%;
    margin: auto;
}

/*======Support======*/
.h-sup-in {
    float: left;
    margin-left: 12.5%;
    width: 37.5%;
    overflow: auto;
    margin-bottom: 40px;
}

.h-sup-img {
    float: left;
}

.h-sup-txt {
    float: left;
    margin-left: 25px;
    width: 60%;
}

.h-sup-form-text {
    height: 40px;
    width: 100%;
    border: #999 1px solid;
    border-radius: 6px;
    padding-left: 15px;
    margin-bottom: 20px;
}

.h-sup-txt div:first-child {
    margin-bottom: 5px;
    margin-top: 10px;
}

/*=====Contact=====*/
.h-cont {
    width: 40%;
    padding: 5%;
    float: left;
}

.h-cont-in {
    overflow: auto;
    margin-bottom: 25px;
}

.h-cont-img {
    border: solid 1px #3e93cc;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 20px;
    float: left;
}

.h-cont-img img {
    width: 100%;
}

.h-cont-in i {
    color: #3e93cc;
    font-size: 40px;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

/*=====About Us=====*/
.h-about-1 {
    width: 30%;
    padding: 5%;
    float: left;
}

.h-about-1 img {
    width: 100%;
}

.h-about-2 {
    width: 50%;
    padding: 5%;
    float: left;
}

/*======Products======*/
.h-prod {
    border: 1px solid #3e93cc ;
}

.h-prod-in-1, .h-prod-in-2, .h-prod-in-3 {
    height: 380px;
    float: left;
    padding: 1%;
}

.h-prod-in-1 {
    width: 25%;
}

.h-product-bg {
    height: 250px;
    padding: 22.5px;
}

.h-product-bg img {
    width: 100%;
}

.h-prod-img-sm {
    width: 25%;
    height: 80px;
    float: left;
    padding: 1%;
    margin: 3%;
    /*width: 23.5%;*/
    /*height: 60px;*/
    /*float: left;*/
    /*padding: 1%;*/
    /*margin: 3.5%;*/
    /*border: #3e93cc 1px solid;*/
    cursor: pointer;
}

.h-prod-img-sm img {
    width: 100%;
}

.h-prod-in-2 {
    width: 44%;
}

.h-prod-in-3 {
    width: 25%;
}

.h-product-bg-1 {
    display: block;
}

.h-product-bg-2, .h-product-bg-3 {
    display: none;
}

/*=====Solution=====*/

.h-solut-title {
    height: auto;
    font-size: 30px;
    font-weight: 600;
    width: 98%;
    text-align: center;
    padding: 1%;
    background: #ffffff;
    color: #3e93cc;
    border-bottom: 1px solid #3e93cc;

}

.h-solut {
    border: 1px solid #3e93cc;
}

.h-solut-in-1 {
    width: 25%;
}

.h-solut-in-2 {
    color: #ffffff;
    background: #3e93cc;
    width: 40%;

}

.h-solut-in-3 {
    background: #ffffff;
    color: #3e93cc;
    width: 23%;

}

[class|= h-solut-in] {
    float: left;
    height: 300px;
    overflow: hidden;
    padding: 2%;
}

div.h-sol-tab {
    background-color: #ffffff;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.divTable.h-sol-tab .divTableCell, .divTable.h-sol-tab .divTableHead {
    border: 1px solid #ffffff;
    padding: 2%;
    vertical-align: middle;
}

.divTable.h-sol-tab .divTableBody .divTableCell {
    color: #FFFFFF;
}

.divTable.h-sol-tab .divTableRow:nth-child(even) {
    background: #3E93CC;
}

.divTable.h-sol-tab .divTableRow:nth-child(2n-1) .divTableCell:nth-child(2n) {
    border-left: 2px solid #3E93CC;
    border-right: 2px solid #3E93CC;
}

.divTable.h-sol-tab .divTableRow .divTableCell:nth-child(2n-1) {
    width: 20%;
}

.divTable.h-sol-tab .divTableRow:nth-child(2n-1) .h-button {
    background-color: #3e93cc;
    color: #FFFFFF;
}

.divTable.h-sol-tab .divTableRow:nth-child(2n) .h-button {
    background-color: #555555;
    color: #FFFFFF;
}

.divTable.h-sol-tab .divTableRow .divTableCell:nth-child(2n) {
    width: 60%;
}

.divTable.h-sol-tab .divTableHeading {
    border-bottom: 2px solid #3E93CC;
}

.divTable.h-sol-tab .divTableHeading .divTableHead {
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
    border-left: 2px solid #3E93CC;
}

.divTable.h-sol-tab .divTableHeading .divTableHead:first-child {
    border-left: none;
}

.divTable {
    display: table;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    display: table-header-group;
}

.divTableCell, .divTableHead {
    display: table-cell;
}

.divTableHeading {
    display: table-header-group;
}

.divTableBody {
    display: table-row-group;
}

.button {
    transition: all 0.5s;
    cursor: pointer;
    width: 200px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: 16px;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: 0.5s;
    top: -35%;
    font-size: 1.5em;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

/*==========CONTENT END========*/

/*=====To TOP=====*/
.h-totop {
    z-index: 3;
    webkit-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 100%;
    height: 50px;
    width: 50px;
    text-align: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    display: none;
}

.h-totop img {
    height: 10px;
    width: 20px;
    padding: 18px 0px;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.h-totop:hover {
    color: #fff;
    background: #353535;
    text-decoration: none;
}

.i-solution, .i-portfolio, .i-packages, .i-testimonial, .i-brands {
    padding: 50px 0px 50px 0px;
}
/* ========= HOME VIDEO =========== */
.video-banner {
    width: 100%;
    height: 600px;
}

.video-background {
    background: #000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
}

.video-foreground,
.video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
    .video-foreground {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video-foreground {
        width: 300%;
        left: -100%;
    }
}

}
